{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
  <h1>About</h1>
  <p>
    I am a postdoctoral scholor in
    <a href="http://chemistry.caltech.edu/~fucose/">
      Linda Hsieh-Wilson's lab
    </a>
    in the division of
    <a href="http://cce.caltech.edu/">
      Chemistry &amp; Chemical Engineering
    </a>
    at the <a href="http://www.caltech.edu/">California Institute of Technology</a>.
  </p>

  <h2>Research</h2>

  <dl class="dl-horizontal">
    <dt>
      2012&ndash;present
    </dt>
    <dd>
      Postdoctoral scholar, Hsieh-Wilson Lab, California Institute of Technology
    </dd>
    <dt>
      2005&ndash;2012
    </dt>
    <dd>
      Graduate student, Hsieh-Wilson Lab, California Institute of Technology
    </dd>
    <dt>
      2003&ndash;2005
    </dt>
    <dd>
      Research assistant, Janda Lab, Scripps Research Institute
    </dd>
    <dt>
      2000&ndash;2002
    </dt>
    <dd>
      Research assistant, Toney Lab, University of California, Davis
    </dd>
  </dl>

  <h2>Education</h2>
  <dl class="dl-horizontal">
    <dt>2012</dt>
    <dd>Ph.D., Chemistry, California Institute of Technology</dd>
    <dt>2003</dt>
    <dd>B.S., Chemistry, University of California, Davis</dd>
  </dl>

  <h2>Fellowships and Awards</h2>
  <dl class="dl-horizontal">
    <dt>2006&ndash;2010</dt>
    <dd>National Institute of Health (NIH) Training Grant</dd>
    <dt>2005</dt>
    <dd>California Institute of Technology Special Institute Fellowship</dd>
    <dt>2002</dt>
    <dd>Phi Sigma Biological Sciences Honor Society</dd>
  </dl>
{% endblock %}
