{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="row">
  <div class="span4">
    <h2>Contact</h2>
    <address>
      {{ me.first_name }} {{ me.middle_initial }} {{ me.last_name }}<br>
      {{ me.institution }}<br>
      {{ me.division }}<br>
      {{ me.address1 }}<br>
      {{ me.address2 }}<br>
      <abbr title="Work Phone">Tel:</abbr> (626) 395-8120
    </address>
    <p>
      <script type="text/javascript">document.write(
"<n pynff=\"oga oga-cevznel\" uers=\"znvygb:pwebtref\100pnygrpu\056rqh\">Rznvy<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script>
    </p>
  </div>
</div>
{% endblock %}
